.price {
    margin: 3px 0 0;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    color: var(--color-main);
}

.tax {
    margin: 0;
    font-size: 12.6px;
    line-height: 1.7;
    color: var(--color-main);
}

@media (max-width: 480px) {
    .price {
        font-size: 16px;
    }
}
